<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/events/create">Create Event</a></li>
        <li><a href="/feedback">Feedback</a></li>
    </ul>
</nav>
